.bggjgjjgjywrturuwehegqeq410004 {
    display:block;
    margin:0 auto
}

.bggjgjjgjywrturuwehegqeq410005 {
    float:right;
    margin:10px 0 10px 10px
}

.bggjgjjgjywrturuwehegqeq410006 {
    float:left;
    margin:10px 10px 10px 0
}

.bggjgjjgjywrturuwehegqeq410007 {
    float:left
}

.bggjgjjgjywrturuwehegqeq410008 {
    float:right
}

.bggjgjjgjywrturuwehegqeq410009 {
    text-align:center
}

.bggjgjjgjywrturuwehegqeq410010 {
    text-align:right
}

.bggjgjjgjywrturuwehegqeq410011 {
    text-align:left
}

.bggjgjjgjywrturuwehegqeq410012 {
    border:1px solid #ddd;
    text-align:center;
    background-color:#f3f3f3;
    padding-top:4px;
    margin:10px;
    -moz-border-radius:3px;
    -khtml-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px
}

.bggjgjjgjywrturuwehegqeq410012 img {
    margin:0;
    padding:0;
    border:0 none
}

.bggjgjjgjywrturuwehegqeq410012 p.bggjgjjgjywrturuwehegqeq410013 {
    font-size:11px;
    line-height:17px;
    padding:0 4px 5px;
    margin:0
}

.bggjgjjgjywrturuwehegqeq410014 {
    margin:0!important;
    max-height:1em
}

.jetmenu {
    padding:0;
    margin:0;
    position:relative;
    float:left;
    list-style:none;
    width:100%;
    margin:0;
}

.jetmenu li {
    display:inline-block;
    float:left
}

.jetmenu a {
    -o-transition:all .3s linear;
    -webkit-transition:all .3s linear;
    -moz-transition:all .3s linear;
    transition:all .3s linear;
    outline:none;
    z-index:10
}

blockquote.bggjgjjgjywrturuwehegqeq410015 {
    margin-right:20px;
    text-align:right;
    margin-left:0;
    width:33%;
    float:left
}

blockquote.bggjgjjgjywrturuwehegqeq410016 {
    margin-left:20px;
    text-align:left;
    margin-right:0;
    width:33%;
    float:right
}

.bggjgjjgjywrturuwehegqeq410017 a {
    float:left;
    display:block;
    color:#666;
    margin-left:5px;
    margin-bottom:5px;
    padding:3px 7px;
    line-height:1em;
    background:#EEE;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px
}

.jetmenu > li > a {
    padding:18px 18px 0 18px;
   
    font-size:16px;
    color:#000;
    font-weight:bold;
    text-decoration:none;
    display:inline-block;
    text-transform:uppercase;
}

.jetmenu > li:hover > a,.jetmenu > li.active > a {
    background:#e0e0e0;
    color:#555
}

.bggjgjjgjywrturuwehegqeq410018 {
    float:left
}

#sdzzzzzdsscscsgagdgd10002 {
    width:100%
}

#sdzzzzzdsscscsgagdgd10002 caption {
    text-align:right;
    color:#333;
    font-size:12px;
    margin-top:10px;
    margin-bottom:15px
}

#sdzzzzzdsscscsgagdgd10002 thead {
    font-size:10px
}

#sdzzzzzdsscscsgagdgd10002 thead th {
    padding-bottom:10px
}

#sdzzzzzdsscscsgagdgd10002 tbody {
    color:#aaa
}

#sdzzzzzdsscscsgagdgd10002 tbody td {
    background:#f5f5f5;
    border:1px solid #fff;
    text-align:center;
    padding:8px
}

#sdzzzzzdsscscsgagdgd10002 tbody td:hover {
    background:#fff
}

#sdzzzzzdsscscsgagdgd10002 tbody .bggjgjjgjywrturuwehegqeq410019 {
    background:none
}

#sdzzzzzdsscscsgagdgd10002 tfoot #sdzzzzzdsscscsgagdgd10003 {
    font-size:10px;
    text-transform:uppercase;
    text-align:right
}

#sdzzzzzdsscscsgagdgd10002 tfoot #sdzzzzzdsscscsgagdgd10004 {
    font-size:10px;
    text-transform:uppercase;
    padding-top:10px
}

#sdzzzzzdsscscsgagdgd10005 {
    width:740px;
    margin:0 auto;
    position:relative;
    text-shadow:1px 1px 1px #FFF
}

#sdzzzzzdsscscsgagdgd10006 {
    float:left
}

#sdzzzzzdsscscsgagdgd10006 h2,#sdzzzzzdsscscsgagdgd10006 h1 {
    margin:0;
    line-height:1em;
    font-size:20px;
    font-weight:400;
    font-style:normal
}

#sdzzzzzdsscscsgagdgd10006 h2 a,#sdzzzzzdsscscsgagdgd10006 h1 a {
    color:#7B7B7B;
    text-decoration:none
}

.jetmenu ul.dropdown,.jetmenu ul.dropdown li ul.dropdown {
    list-style:none;
    margin:0;
    padding:0;
    display:none;
    position:absolute;
    z-index:99;
    width:146px;
    background:#333
}

.jetmenu ul.dropdown {
    top:58px
}

.jetmenu ul.dropdown li ul.dropdown {
    left:146px;
    top:inherit
}

.jetmenu ul.dropdown li {
    clear:both;
    width:100%;
    font-size:12px
}

#sdzzzzzdsscscsgagdgd10006 h2 a:hover,#sdzzzzzdsscscsgagdgd10006 h1 a:hover {
    color:#000
}

#sdzzzzzdsscscsgagdgd10007 {
    position:absolute;
    height:48px;
    top:4px;
    right:-15px;
}

.bggjgjjgjywrturuwehegqeq410020,.bggjgjjgjywrturuwehegqeq410020 * {
    margin:0;
    padding:0;
    list-style:none
}

.bggjgjjgjywrturuwehegqeq410020 {
    line-height:1
}

.bggjgjjgjywrturuwehegqeq410020 ul {
    position:absolute;
    top:-999em;
    width:10em
}

.bggjgjjgjywrturuwehegqeq410020 ul li {
    width:100%
}

.bggjgjjgjywrturuwehegqeq410020 li:hover {
    visibility:inherit
}

.bggjgjjgjywrturuwehegqeq410020 li {
    float:left;
    position:relative
}

.jetmenu ul.dropdown li a {
    width:100%;
    padding:12px 28px;
    display:inline-block;
    float:left;
    clear:both;
    text-decoration:none;
    color:#999;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box
}

.jetmenu ul.dropdown li:hover > a {
    background:#e0e0e0;
    color:#555
}

.bggjgjjgjywrturuwehegqeq410020 a {
    display:block;
    position:relative
}

.bggjgjjgjywrturuwehegqeq410020 li:hover ul,.bggjgjjgjywrturuwehegqeq410020 li.bggjgjjgjywrturuwehegqeq410021 ul {
    left:0;
    top:3em;
    z-index:99;
    background:#FFF;
    padding:10px 0;
    border:1px solid #DDD;
    border-top:none
}

ul.bggjgjjgjywrturuwehegqeq410020 li:hover li ul,ul.bggjgjjgjywrturuwehegqeq410020 li.bggjgjjgjywrturuwehegqeq410021 li ul {
    top:-999em
}

ul.bggjgjjgjywrturuwehegqeq410020 li li:hover ul,ul.bggjgjjgjywrturuwehegqeq410020 li li.bggjgjjgjywrturuwehegqeq410021 ul {
    left:10em;
    top:0
}

ul.bggjgjjgjywrturuwehegqeq410020 li li:hover li ul,ul.bggjgjjgjywrturuwehegqeq410020 li li.bggjgjjgjywrturuwehegqeq410021 li ul {
    top:-999em
}

ul.bggjgjjgjywrturuwehegqeq410020 li li li:hover ul,ul.bggjgjjgjywrturuwehegqeq410020 li li li.bggjgjjgjywrturuwehegqeq410021 ul {
    left:10em;
    top:0
}

.jetmenu .indicator {
    position:relative;
    left:5px;
    top:2px;
    font-size:14px;
    float:right
}

.jetmenu ul li .indicator {
    font-size:12px;
    top:1px;
    left:10px
}

.bggjgjjgjywrturuwehegqeq410020 {
    float:left;
    margin-bottom:1em
}

.bggjgjjgjywrturuwehegqeq410020 a {
    color:#666;
    padding:0 15px;
    text-decoration:none
}

.bggjgjjgjywrturuwehegqeq410020 a:focus,.bggjgjjgjywrturuwehegqeq410020 a:hover,.bggjgjjgjywrturuwehegqeq410020 a:active {
    color:#000
}

.bggjgjjgjywrturuwehegqeq410022 a {
    color:#000
}

.bggjgjjgjywrturuwehegqeq410020 ul a:focus,.bggjgjjgjywrturuwehegqeq410020 ul a:hover,.bggjgjjgjywrturuwehegqeq410020 ul a:active {
    color:#000!important
}

li.bggjgjjgjywrturuwehegqeq410021 {
    color:#000
}

.bggjgjjgjywrturuwehegqeq410020 li li {
    text-transform:none
}

.bggjgjjgjywrturuwehegqeq410020 li li li {
    background:#FFF
}

.bggjgjjgjywrturuwehegqeq410020 ul a {
    color:#999;
    padding:1em 1.2em
}

.bggjgjjgjywrturuwehegqeq410022 ul a {
    color:#000!important
}

.bggjgjjgjywrturuwehegqeq410020 a.bggjgjjgjywrturuwehegqeq410023 {
    padding-right:2.25em;
    min-width:1px
}

.bggjgjjgjywrturuwehegqeq410024 {
    position:absolute;
    display:block;
    right:.75em;
    width:9px;
    height:5px;
    text-indent:-999em;
    overflow:hidden;
    background:url(file:///C|/Users/nicholas/Downloads/Jet_-_Responsive_Megamenu/webpulse.com.br/jet/images/arrows-down.png)
}

a > .bggjgjjgjywrturuwehegqeq410024 {
    top:.4em;
    background-position:0 -100px
}

.jetmenu > li > .megamenu {
    position:absolute;
    display:none;
    background:#fff;
    min-width:25%;
    top:80px;
    font-size:13px;
    color:#999;
    z-index:99;
    padding:20px 30px 0 30px;
    border:1px solid #b4bdc4;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    border-radius:5px;
}

a:focus > .bggjgjjgjywrturuwehegqeq410024,a:hover > .bggjgjjgjywrturuwehegqeq410024,a:active > .bggjgjjgjywrturuwehegqeq410024,li:hover > a > .bggjgjjgjywrturuwehegqeq410024,li.bggjgjjgjywrturuwehegqeq410021 > a > .bggjgjjgjywrturuwehegqeq410024 {
    background-position:-9px 0
}

.bggjgjjgjywrturuwehegqeq410020 ul .bggjgjjgjywrturuwehegqeq410024 {
    top:1em;
    width:5px;
    height:9px;
    background:url(file:///C|/Users/nicholas/Downloads/Jet_-_Responsive_Megamenu/webpulse.com.br/jet/images/arrows-side.png)
}

.bggjgjjgjywrturuwehegqeq410020 ul a > .bggjgjjgjywrturuwehegqeq410024 {
    background-position:0 0
}

.jetmenu li > .megamenu ul {
    margin:0 0 20px;
    float:left;
    padding:0;
    display:block;
    position:relative
}

.jetmenu li > .megamenu ul li {
    width:100%;
    padding:4px 0
}

.jetmenu li > .megamenu ul li.title {
    margin:0 0 8px;
    padding:0 0 5px;
    border-bottom:solid 1px #666
}

.bggjgjjgjywrturuwehegqeq410020 ul a:focus > .bggjgjjgjywrturuwehegqeq410024,.bggjgjjgjywrturuwehegqeq410020 ul a:hover > .bggjgjjgjywrturuwehegqeq410024,.bggjgjjgjywrturuwehegqeq410020 ul a:active > .bggjgjjgjywrturuwehegqeq410024,.bggjgjjgjywrturuwehegqeq410020 ul li:hover > a > .bggjgjjgjywrturuwehegqeq410024,.bggjgjjgjywrturuwehegqeq410020 ul li.bggjgjjgjywrturuwehegqeq410021 > a > .bggjgjjgjywrturuwehegqeq410024 {
    background-position:-5px 0
}

#sdzzzzzdsscscsgagdgd10008 {
    margin-bottom:40px
}

.bggjgjjgjywrturuwehegqeq410025 {
    float:left;
    width:290px;
    margin-right:25px;
    text-align:center
}

.bggjgjjgjywrturuwehegqeq410025 h2 {
    font-size:16px;
    font-weight:700;
    margin-bottom:20px
}

.jetmenu li > .megamenu h5 {
    width:100%;
    margin:0;
    padding:0
}

/* megamenu links */
.jetmenu li > .megamenu a {
    color:#999;
    text-decoration:none;
    font-size:13px;
    -webkit-transition:color .5s linear;
    -moz-transition:color .5s linear;
    -o-transition:color .5s linear;
    transition:color .5s linear
}

.jetmenu li > .megamenu a:hover {
    color:#dedede
}

.jetmenu .megamenu img {
    width:100%;
    -webkit-transition:border .3s linear;
    -moz-transition:border .3s linear;
    -o-transition:border .3s linear;
    transition:border .3s linear
}

#sdzzzzzdsscscsgagdgd10009 h2 {
    font-size:14px;
    font-style:normal;
    margin-bottom:20px
}

#sdzzzzzdsscscsgagdgd10010 {
}

#portfolio-group {
    margin:40px 0
}

#sdzzzzzdsscscsgagdgd10011 {
    list-style:none
}

#sdzzzzzdsscscsgagdgd10011 a {
    font-size:10px;
    font-weight:700;
    float:left;
    padding:5px 10px;
    margin-right:5px;
    margin-bottom:5px;
    cursor:pointer;
    color:#969696;
    background:-moz-linear-gradient(top,#f2f2f2 0%,#dbdbdb);
    background:-webkit-gradient(linear,left top,left bottom,from(#f2f2f2),to(#dbdbdb));
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #CCC;
    text-shadow:1px 1px 1px #FFF
}

.jetmenu > li > .megamenu.half-width {
    width:50%
}

.jetmenu > li > .megamenu.full-width {
    width:100%;
    left:0;
    margin-left:0px;
}

.jetmenu li > .megamenu form {
    width:100%
}

#sdzzzzzdsscscsgagdgd10011 a:hover {
    background:#EEE;
    color:#666
}

#sdzzzzzdsscscsgagdgd10011 a span {
    display:block;
    border-top:1px solid #FFF;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px
}

.bggjgjjgjywrturuwehegqeq410026 {
    position:relative;
    float:left;
    width:150px;
    margin-right:20px;
    margin-bottom:20px;
    cursor:pointer
}

.bggjgjjgjywrturuwehegqeq410026 img {
}

.overlay {
    background:url(file:///C|/Users/nicholas/Downloads/Jet_-_Responsive_Megamenu/webpulse.com.br/jet/images/overlay-bg.png) repeat;
    width:150px;
    height:120px;
    position:absolute;
    display:none;
    left:0;
    top:0
}

.bggjgjjgjywrturuwehegqeq410027 p {
    margin-top:45px;
    margin-left:40px
}

.jetmenu li > .megamenu form input[type="text"],.jetmenu li > .megamenu form textarea {
    padding:5px;
    color:#999;
    background:#444;
    font-size:14px;
    border:solid 1px transparent;
    outline:none;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-transition:border .3s linear;
    -moz-transition:border .3s linear;
    -o-transition:border .3s linear;
    transition:border .3s linear
}

.jetmenu li > .megamenu form input[type="text"]:focus,.jetmenu li > .megamenu form textarea:focus {
    border-color:#e0e0e0
}

.jetmenu li > .megamenu form input[type="text"] {
}

.jetmenu li > .megamenu form textarea {
    width:100%;
    margin-top:10px
}

.bggjgjjgjywrturuwehegqeq410028,.bggjgjjgjywrturuwehegqeq410029 {
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    filter:alpha(opacity=60);
    -moz-opacity:.6;
    -khtml-opacity:.6;
    opacity:.6
}

.bggjgjjgjywrturuwehegqeq410028:hover,.bggjgjjgjywrturuwehegqeq410029:hover {
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter:alpha(opacity=80);
    -moz-opacity:.8;
    -khtml-opacity:.8;
    opacity:.8
}

.bggjgjjgjywrturuwehegqeq410028 {
    display:block;
    float:left;
    margin-right:10px;
    text-indent:-99999px;
    width:32px;
    height:32px;
    background:url(file:///C|/Users/nicholas/Downloads/Jet_-_Responsive_Megamenu/webpulse.com.br/jet/images/overlay-image.png)
}

.jetmenu li > .megamenu form input[type="submit"] {
    width:25%;
    float:right;
    height:30px;
    margin-top:10px;
    border:none;
    cursor:pointer;
    background:#444;
    color:#777;
    -webkit-transition:background .3s linear;
    -moz-transition:background .3s linear;
    -o-transition:background .3s linear;
    transition:background .3s linear
}

.jetmenu li > .megamenu form input[type="submit"]:hover {
    background:#e0e0e0;
    color:#555
}

.bggjgjjgjywrturuwehegqeq410029 {
    display:block;
    float:left;
    text-indent:-99999px;
    width:32px;
    height:32px;
    background:url(file:///C|/Users/nicholas/Downloads/Jet_-_Responsive_Megamenu/webpulse.com.br/jet/images/overlay-link.png)
}

#sdzzzzzdsscscsgagdgd10012 {
    float:left;
    width:200px
}

#sdzzzzzdsscscsgagdgd10013 {
    float:right;
    width:400px
}

#sdzzzzzdsscscsgagdgd10014 {
    padding:25px 0
}

#sdzzzzzdsscscsgagdgd10015 a,#sdzzzzzdsscscsgagdgd10016 a {
    display:block;
    float:left;
    height:30px;
    width:30px;
    margin-right:5px;
    background:url(file:///C|/Users/nicholas/Downloads/Jet_-_Responsive_Megamenu/webpulse.com.br/jet/images/bx-arrows.png) no-repeat

}

#sdzzzzzdsscscsgagdgd10016 a {
    background-position:-30px 0
}

#sdzzzzzdsscscsgagdgd10015 a:hover {
    background-position:0 -30px
}

#sdzzzzzdsscscsgagdgd10016 a:hover {
    background-position:-30px -30px
}

#sdzzzzzdsscscsgagdgd10017 {
    position:relative;
    width:660px;
    height:350px
}

.megamenu .row {
    width:100%;
    margin-top:15px
}

.megamenu .row:first-child {
    margin-top:0
}

.megamenu .row:before,.megamenu .row:after {
    display:table;
    content:"";
    line-height:0
}

.megamenu .row:after {
    clear:both
}

.megamenu .row .col1,.megamenu .row .col2,.megamenu .row .col3,.megamenu .row .col4,.megamenu .row .col5,.megamenu .row .col6 {
    display:block;
    width:100%;
    min-height:20px;
    float:left;
    margin-left:2.1276595744681%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}

.megamenu .row [class*="col"]:first-child {
    margin-left:0
}

.megamenu .row .col1 {
    width:14.893617021277%
}

.megamenu .row .col2 {
    width:31.914893617021%
}

.megamenu .row .col3 {
    width:48.936170212766%
}

.megamenu .row .col4 {
    width:65.957446808511%
}

.megamenu .row .col5 {
    width:82.978723404255%
}

.megamenu .row .col6 {
    width:100%
}

.bggjgjjgjywrturuwehegqeq410030 {
    position:relative
}

.bggjgjjgjywrturuwehegqeq410030 img {
    position:absolute;
    top:0;
    left:0;
    z-index:6
}

.bggjgjjgjywrturuwehegqeq410030 a.bggjgjjgjywrturuwehegqeq410031 {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border:0;
    padding:0;
    margin:0;
    z-index:6;
    display:none
}

.bggjgjjgjywrturuwehegqeq410032 {
    display:block;
    position:absolute;
    z-index:5;
    height:100%
}

.bggjgjjgjywrturuwehegqeq410033 {
    display:block;
    position:absolute;
    z-index:5
}

.bggjgjjgjywrturuwehegqeq410034 {
    position:absolute;
    left:0;
    bottom:0;
    background:#000;
    color:#fff;
    opacity:.8;
    width:100%;
    z-index:8
}

.bggjgjjgjywrturuwehegqeq410034 p {
    padding:5px;
    margin:0
}

.bggjgjjgjywrturuwehegqeq410034 a {
    display:inline!important
}

.bggjgjjgjywrturuwehegqeq410035 {
    display:none
}

.bggjgjjgjywrturuwehegqeq410036 a {
    position:absolute;
    top:45%;
    z-index:9;
    cursor:pointer
}

.jetmenu > li.right {
    float:right
}

.jetmenu > li.right > .megamenu {
    right:0
}

.bggjgjjgjywrturuwehegqeq410037 {
    left:0
}

.bggjgjjgjywrturuwehegqeq410038 {
    right:0
}

.bggjgjjgjywrturuwehegqeq410039 a {
    position:relative;
    z-index:9;
    cursor:pointer
}

.bggjgjjgjywrturuwehegqeq410039 a.bggjgjjgjywrturuwehegqeq410040 {
    font-weight:700
}

.bggjgjjgjywrturuwehegqeq410036 a {
    display:block;
    width:20px;
    height:40px;
    background:url(file:///C|/Users/nicholas/Downloads/Jet_-_Responsive_Megamenu/webpulse.com.br/jet/images/slider-arrows.png) no-repeat;
    text-indent:-9999px;
    border:0;
    -webkit-transition:hover .2s ease-in-out;
    -moz-transition:hover .2s ease-in-out;
    -o-transition:hover .2s ease-in-out;
    -ms-transition:hover .2s ease-in-out;
    transition:hover .2s ease-in-out
}

.bggjgjjgjywrturuwehegqeq410036 a:hover {
    background:url(file:///C|/Users/nicholas/Downloads/Jet_-_Responsive_Megamenu/webpulse.com.br/jet/images/slider-arrows-hover.png) no-repeat

}

a.bggjgjjgjywrturuwehegqeq410038 {
    background-position:-20px 0!important;
    right:-20px
}

a.bggjgjjgjywrturuwehegqeq410037 {
    left:-20px
}

.jetmenu > li.showhide {
    display:none;
    width:100%;
    height:50px;
    cursor:pointer;
    color:#999;
    background:#fff;
}

.jetmenu > li.showhide span.title {
    margin:3px 0;
    float:left
}

.jetmenu > li.showhide span.icon {
    float: left;
border: solid 1px #ccc;
padding: 10px;
margin: 0;
border-radius: 5px;
margin: 4px 20px;
}

.jetmenu > li.showhide .icon em {
    margin-bottom:3px;
    display:block;
    width:20px;
    height:2px;
    background:#999
}

#sdzzzzzdsscscsgagdgd10018 {
}

.post-entry {
    margin-bottom:20px;
    padding-bottom:20px;
    border-bottom:1px solid #EEE
}

.bggjgjjgjywrturuwehegqeq410041 {
    margin-bottom:20px
}

.bggjgjjgjywrturuwehegqeq410042 {
    float:left;
    height:150px;
    width:150px
}

.bggjgjjgjywrturuwehegqeq410043 {
    float:right;
    width:480px
}

#sdzzzzzdsscscsgagdgd10018 ul,ol {
    margin-left:50px;
    margin-bottom:10px
}

.bggjgjjgjywrturuwehegqeq410044,.bggjgjjgjywrturuwehegqeq410045 {
    background:#F9F9F9;
    font-size:11px;
    color:#999;
    padding:5px;
    margin:8px 0;
    text-shadow:1px 1px 1px #FFF;
    letter-spacing:1px
}

.blue > li:hover > a,.blue > li.active > a {
    background:transparent;
    color:#000;
}

.blue ul.dropdown li:hover > a {
    background:#02b8fa;
    color:#fff
}

.blue li > .megamenu form input[type="text"]:focus,.blue li > .megamenu form textarea:focus {
    border-color:#02b8fa
}

.blue li > .megamenu form input[type="submit"]:hover {
    background:#02b8fa;
    color:#fff
}

.blue li > .megamenu a:hover {
    color:#02b8fa
}

.bggjgjjgjywrturuwehegqeq410044 a,.bggjgjjgjywrturuwehegqeq410045 a,.bggjgjjgjywrturuwehegqeq410044 span,.bggjgjjgjywrturuwehegqeq410045 span {
    color:#000
}

.bggjgjjgjywrturuwehegqeq410045 {
    margin-bottom:20px!important
}

.bggjgjjgjywrturuwehegqeq410046 {
    margin-right:10px;
    margin-top:30px;
    font-size:12px
}

.bggjgjjgjywrturuwehegqeq410046 a {
    margin-left:5px
}

#sdzzzzzdsscscsgagdgd10018 h1 {
    margin-bottom:0
}

.bggjgjjgjywrturuwehegqeq410047 h2 {
    line-height:1.2em;
    margin:0!important;
    font-size:21px
}

.bggjgjjgjywrturuwehegqeq410047 h2 a {
    text-decoration:none
}

.bggjgjjgjywrturuwehegqeq410048 {
    margin-bottom:20px!important
}

#sdzzzzzdsscscsgagdgd10019 {
    font-size:14px;
    padding:20px 0;
    margin-bottom:40px;
    border-bottom:1px dotted #CCC
}

#sdzzzzzdsscscsgagdgd10019 p {
    margin:0;
    padding:0
}

#sdzzzzzdsscscsgagdgd10020 {
    margin-bottom:20px
}

#sdzzzzzdsscscsgagdgd10021 {
    float:left;
    width:50%
}

#sdzzzzzdsscscsgagdgd10022 {
    float:right;
    width:50%;
    text-align:right
}

#sdzzzzzdsscscsgagdgd10021 a {
    float:left
}

#sdzzzzzdsscscsgagdgd10022 a {
    float:right!important
}

#sdzzzzzdsscscsgagdgd10023 {
    background:#F9F9F9;
    margin:30px 0;
    padding:20px;
    border-top:1px solid #EEE;
    border-bottom:1px solid #EEE
}

#sdzzzzzdsscscsgagdgd10024 {
    float:left;
    width:70px
}

#sdzzzzzdsscscsgagdgd10024 img {
    padding:3px;
    border:1px solid #CCC
}

#sdzzzzzdsscscsgagdgd10025 {
    float:right;
    width:540px
}

#sdzzzzzdsscscsgagdgd10023 h4 {
    margin-top:0;
    margin-bottom:5px
}

#sdzzzzzdsscscsgagdgd10026 {
    margin:20px 0;
    padding-bottom:20px;
    border-bottom:1px solid #EEE;
    color:#999
}

.bggjgjjgjywrturuwehegqeq410049 {
    margin-bottom:20px
}

.bggjgjjgjywrturuwehegqeq410050 {
    float:left;
    width:60px;
    margin-right:20px
}

.bggjgjjgjywrturuwehegqeq410050 img {
    padding:3px;
    border:1px solid #EEE
}

.bggjgjjgjywrturuwehegqeq410051 {
    float:right;
    width:580px
}

#sdzzzzzdsscscsgagdgd10026 h3 {
    margin:0 0 20px
}

#sdzzzzzdsscscsgagdgd10026 h4 {
    font-size:12px;
    font-style:normal;
    margin-top:0;
    margin-bottom:5px
}

#sdzzzzzdsscscsgagdgd10026 h4 a:hover {
    text-decoration:none
}

#sdzzzzzdsscscsgagdgd10027 {
}

#commentsbox {
    margin-top:30px
}

#sdzzzzzdsscscsgagdgd10028 ol,#sdzzzzzdsscscsgagdgd10028 ul {
    list-style:none;
    margin-left:0!important
}

#sdzzzzzdsscscsgagdgd10028 li {
    margin-bottom:30px
}

.bggjgjjgjywrturuwehegqeq410052 {
    list-style:none;
    margin:30px 0 0;
    text-indent:0
}

.bggjgjjgjywrturuwehegqeq410052 li.bggjgjjgjywrturuwehegqeq410053 {
    margin:0 0 0 50px
}

.bggjgjjgjywrturuwehegqeq410052 li.bggjgjjgjywrturuwehegqeq410054 {
    margin:0 0 0 50px
}

.bggjgjjgjywrturuwehegqeq410052 li.bggjgjjgjywrturuwehegqeq410055 {
    margin:0 0 0 50px
}

.bggjgjjgjywrturuwehegqeq410052 li.bggjgjjgjywrturuwehegqeq410056 {
    margin:0 0 0 50px
}

.bggjgjjgjywrturuwehegqeq410057 {
    background:#FFF;
    position:relative;
    padding:20px;
    border-bottom:1px dashed #E3E3E3
}

#sdzzzzzdsscscsgagdgd10028 .bggjgjjgjywrturuwehegqeq410058 {
    float:left;
    margin-right:30px
}

.bggjgjjgjywrturuwehegqeq410059 {
    font-size:12px;
    color:#000;
    line-height:1em;
    margin-bottom:5px
}

.bggjgjjgjywrturuwehegqeq410060 {
    display:none
}

.bggjgjjgjywrturuwehegqeq410061 a {
    margin-bottom:10px;
    font-size:10px;
    font-style:italic;
    color:#666
}

@media (min-width:992px) and (max-width: 1200px) {
    .past-packages-sold {
        width:50%!important;
    }
    
    .past-packages-total {
        width:50%!important;
    }
    
    .past-packages .btn-comment-wrap {
        width:100%!important;
        border-top:solid 1px #ddd;
        text-align: right;
        padding-right: 10px;
        padding-bottom: 10px;
    }
}

@media (max-width: 991px) {
    
.jetmenu {
    padding:30px 0 25px 0!important!important;
}

.jetmenu > li {
    display:block;
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.jetmenu > li > a {
    padding:10px 20px;
}

.jetmenu > li.showhide {
    border-bottom: solid 1px #ccc;
padding-bottom: 15px;
height: auto;
}

.sub-head {
    padding-bottom:0!important;
}
.sub-head:hover {
    border:solid 1px transparent!important;
}
.jetmenu a {
    width:100%;
    background:#fff;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box
}

.jetmenu ul.dropdown,.jetmenu ul.dropdown li ul.dropdown {
    width:100%!important;
    left:0;
    position:static!important;
    border:none;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box
}

.jetmenu ul.dropdown li {
    background:#fff!important;
    border:none
}

.jetmenu ul.dropdown > li > a {
    padding-left:40px!important
}

.jetmenu > li > .megamenu {
    width:100%!important;
    position:static;
    margin:0;
    padding:0px 30px 10px;
    border:none;
}

.megamenu .row [class*="col"] {
    display:block;
    margin-left:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}

.megamenu .row:first-child [class*="col"]:first-child {
    margin-top:0
}

.megamenu .row {
    margin-top:0
}

.jetmenu > li > ul.dropdown > li > a {
    padding-left:40px!important
}

.jetmenu > li > ul.dropdown > li > ul.dropdown > li > a {
    padding-left:60px!important
}

.jetmenu > li > ul.dropdown > li > ul.dropdown > li > ul.dropdown > li > a {
    padding-left:80px!important
}
.jetmenu li > .megamenu form input[type="text"] {
}

.title {    width:110px;
    height:44px;
    background:url(../img/logo.png) left top no-repeat;
    text-indent:-99999px;
    float: left;
height: 50px;
padding: 15px 15px;
font-size: 18px;
line-height: 20px;
}

.login-wrap {
    display:none;
}

#logo {
    margin-left:15px;
    display:none;
}

.btn-join {
    width: 135px!important;
    margin-top: 10px;
    margin-left: 20px;
}
}

.bggjgjjgjywrturuwehegqeq410062 {
    font-size:10px;
    position:absolute;
    bottom:-10px;
    right:0;
    border:1px solid #E3E3E3;
    padding:0 8px;
    background:#EEE;
    color:#666;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px
}

.bggjgjjgjywrturuwehegqeq410063 a {
    color:red;
    line-height:20px;
    height:20px
}

.bggjgjjgjywrturuwehegqeq410063 a:hover {
    text-decoration:underline
}

#sdzzzzzdsscscsgagdgd10029 {
    margin:40px 0 15px
}

#sdzzzzzdsscscsgagdgd10030 {
    margin:0 0 10px;
    padding:0;
    clear:both
}

#sdzzzzzdsscscsgagdgd10031 label {
    display:block;
    font-size:11px
}

#sdzzzzzdsscscsgagdgd10031 input {
    margin-bottom:10px;
    width:40%
}

#sdzzzzzdsscscsgagdgd10031 textarea {
    margin-top:10px;
    display:block;
    width:70%
}

#sdzzzzzdsscscsgagdgd10031 input#sdzzzzzdsscscsgagdgd10032,#sdzzzzzdsscscsgagdgd10031 input#sdzzzzzdsscscsgagdgd10033,#sdzzzzzdsscscsgagdgd10031 input#sdzzzzzdsscscsgagdgd10034,#sdzzzzzdsscscsgagdgd10031 textarea {
    background:#FFF;
    position:relative;
    padding:5px;
    border:1px solid #E3E3E3;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    -ms-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out
}

#sdzzzzzdsscscsgagdgd10031 input#sdzzzzzdsscscsgagdgd10032:focus,#sdzzzzzdsscscsgagdgd10031 input#sdzzzzzdsscscsgagdgd10033:focus,#sdzzzzzdsscscsgagdgd10031 input#sdzzzzzdsscscsgagdgd10034:focus,#sdzzzzzdsscscsgagdgd10031 textarea:focus {
    -moz-box-shadow:3px 3px 0 #EEE;
    -webkit-box-shadow:3px 3px 0 #EEE;
    box-shadow:3px 3px 0 #EEE
}

#sdzzzzzdsscscsgagdgd10035 {
    cursor:pointer;
    font-size:12px;
    color:#969696;
    padding:5px 0;
    width:100px!important;
    background:-moz-linear-gradient(top,#f2f2f2 0%,#dbdbdb);
    background:-webkit-gradient(linear,left top,left bottom,from(#f2f2f2),to(#dbdbdb));
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #CCC
}

#sdzzzzzdsscscsgagdgd10035:hover {
    background:#EEE!important
}

.bggjgjjgjywrturuwehegqeq410064 {
    position:absolute;
    left:0;
    bottom:0;
    color:#EEE
}

body {
    background:#f2f2f2;
    margin:0;
    padding:0
}

.content {
    margin:50px;
    padding:20px;
    background:#fff;
}

.content ul.items {
    font-size:14px;
    margin:0;
    list-style-type:square
}

.content ul.items li {
    padding:4px 0
}

.content p {
    font-size:13px
}

.jetmenu {
    margin:0px;
    padding:30px 0 28px 0;
}

.jetmenu > li:nth-child(6) .megamenu .row [class*="col"] {
    background:#999!important
}

@media (max-width: 768px) {
.content {
    margin:0
}

.buy-overlay .col-xs-4, .buy-overlay .col-sm-4 {
    padding:0 5px;
}

.buy-overlay {
    top:225px;
}



}

.mtop0 {margin-top:0;}

.sub-head {
    padding-bottom:10px!important;
    border:solid 1px transparent;   
}

.sub-head:hover {
    border:solid 1px #b4bdc4;
    border-radius:5px 5px 0 0;
    border-bottom:none;
}

.blue > li.subhead:hover > a, .jetmenu li.subhead.active a {
    background: #02b8fa;
color: #fff;
}

span.indicator {
    display:none;
}

.head-search, .head-select, .head-search-btn {
    padding:10px!important;
    margin:0;
    font-size:13px;
}

.head-search {
    border-radius:5px 0 0 5px;
    border-right:none!important;
}

.head-search-btn {
    padding:11px 5px 11px 5px!important;
    border-radius:0 5px 5px 0;
    background:#fff;
    border:solid 1px #ccc;
    border-left:none!important;
    width:40px;
}

.head-select {
    border-radius:0;
    padding:11px 5px 10px 5px!important;
    border:solid 1px #ccc;
    background:#fff!important;
    height:42px!important;
}

.jetmenu li > .megamenu form input[type="text"], .jetmenu li > .megamenu form textarea {
    background:#fff;
    border:solid 1px #ccc;
}


.top-list-main-wrap {
    float:left;
    width:100%;
}

.head-top-list {
    width:100%;
}

.head-top-list th {
    text-align:left;
    padding:0;
    padding-left:10px;
    text-transform:uppercase;
    padding-bottom:10px;
    font-weight:normal;
    text-align:right;
    font-size:12px;
}

.head-top-list td {
    color:#000;
    padding:0;
    font-weight:bold;
    text-align:right;
    font-size:11px;
}

.head-top-list td a {
    color:#376b93!important;
}

.head-top-list th:first-child, .head-top-list td:first-child {
    text-align:left;
    padding-left:0;
}

.head-top-list th:first-child {
    
}



.width-lrg {width:95%;float:left;}
.width-med {width:25%;float:left;}
.width-sml {width:5%;float:left;}



@media (max-width: 991px) {

.sub-head {
    padding-bottom:0!important;
    margin-top:20px;
}

.btn-join-wrap {
    display:block!important;
}

.btn-join {
    position: absolute;
top: 28px;
left: 110px;
display:block;
}

.top-list-wrap {
    border-right:none!important;
    padding-left:0;
    padding-right:0;
    border-bottom: solid 1px #ccc;
    margin-bottom: 24px;
}


.width-lrg {width:60%;float:left;}
.width-med {width:30%;float:left;}
.width-sml {width:10%;float:left;}
.login-wrapper .btn-facebook {
    margin-bottom:5px;
}
.content-top {
    padding-left:0;
}

.profile-sidebar {
    position:relative;
    width:100%;
    padding-bottom:0;
}
.content-top-in, .content-bottom {
    padding-left:0;
}

.sidebar-jump {
    display:block;
}
.profile-sidebar-menu {
    display:none;
}
.circle-wrap {
    margin-top:20px;
}

.circle-list {
    height:30px;
    overflow:hidden;
}

.content-profile .content-top {
    padding-top:20px;
}
.big-lined {
    display:none;
}

.main-stat-content .see-detail {
    position: absolute;
top: 0;
right: 0;
}

.main-stat-head {
    display:none;
}

.content-player-body {
    padding:0;
}

.content-player-body .content-player-body-in {
    padding:0;
}

.buy-btn-group {
background: #dfdfdf;
width: 100%;
padding: 20px 15px 0px 15px;
margin: 0 15px;
border-top: solid 1px #ccc;
margin-top: 20px;
margin-left:0;
padding-left:15%;
padding-right:15%;
}
.player-box {
    margin-bottom:20px;
}

.user-btn-wrap a b {
    display:none;
}

.user-btn-wrap a {
    width: auto!important;
    margin-right:10px;
    margin-top:10px;
}

.user-btn-wrap a.btn {
    min-width:30px!important;
    padding:0px;
    border:none;
}

.user-btn-wrap a span {
    border-radius:4px;
    border:solid 1px #357ebd;
}
}

@media (max-width: 479px) {
    .powered-by {
        text-align: center;
        float: left;
        width: 100%;
    }
    
    .powered-by li {
        list-style: none;
        display: inline-block;
        float: left;
    }
    
    .powered-by li a {
        float: left;
    }
    
    .powered-by li a img {
        width: 100%;
        text-align: center;
    }
    
}

@media (min-width:480px) {
    .skrill-logo {
        width:25%;
        float:left;     
    }
    
    .paypal-logo {
        width:30%;
        float:left;
    }
    
    .pokerstars-logo {
        width:45%;
        float:left;
    }
    
    .powered-by li a img {
        float:left;
        width:100%;
    }
    
    .skrill-logo a img {
        width:70%!important;
    }
    
    .paypal-logo a img, .pokerstars-logo a img {
        width:80%!important;
    }
}

@media (max-width: 479px) {
    .skrill-logo {
        
    }
    
    .paypal-logo {
        
    }
    
    .pokerstars-logo {
        
    }
    
    .skrill-logo img {
        width:25%!important;
    }
    
    .paypal-logo img {
        width:30%!important;
    }
    
    .pokerstars-logo img {
        width:40%!important;
    }
    
    .title {
        width: 90px;
        background: url(../img/logo.png) left top no-repeat;
        text-indent: -99999px;
        float: left;
        height: 41px;
        padding: 15px 15px;
        font-size: 18px;
        line-height: 20px;
        background-size:contain;
    }
    .btn-join {
        margin-left: 0;
        font-size: 13px!important;
        width: 120px!important;
    }
    
    .powered-by li {
        list-style: none;
        display: inline-block;
        float: left;
        width: 100%!important;
        margin-bottom:20px;
    }
    
    .powered-by li a {
        float: left;
        width: 100%;
        text-align: center;
        margin: 0 auto;
}

.content-top-in .col-xs-6 {
        padding:0;
        padding-right:5px;
    }
    .package-right p {
        font-size:13px;
    }
    
    .change-photo-wrap {
position:absolute;
top: 105px;
left: 5px;
overflow: visible!important;
width: 160px
    }
    
    .change-photo p {
        display:none;
    }
    .wdth13 {
    width:20%;
}

.wdth87 {
    width:80%;
}
.buy-btn-group {
background: #dfdfdf;
width: 100%;
padding: 20px 15px 0px 15px;
margin: 0 15px;
border-top: solid 1px #ccc;
margin-top: 20px;
margin-left:0;
}

.profile-personal-stats {
    text-align:left;
}

.sweats-wrap {
    width: 90%;
margin-left: 5%;
}
.past-packages-sold {
        width:100%!important;
    }
    
    .past-packages-total {
        width:100%!important;
        border-top:solid 1px #ddd;
    }
    
    .past-packages .btn-comment-wrap {
        width:100%!important;
        border-top:solid 1px #ddd;
        text-align: right;
        padding-right: 10px;
        padding-bottom: 10px;
    }
    
    .message-content .sent-time {
        font-size: 10px!important;
float: left;
width: 100%;
margin: 5px 0 0 5px;
    }
    
    .message-user-wrap, .message-content-wrap, .message-wrap-user-head, .message-wrap-content-head {
        width:50%;
    }
    .message-wrap-content-head .message-head a b {
display: none;
    }
    
    .btn-wrap-absolute {
        position: static;
padding-bottom: 10px;
    }
    .inner-circle-list li {
        width:100%;
    }
    
}

@media (max-width:320px) {
    .content-top-in .col-xs-6 {
        padding:0;
        padding-right:5px;
    }
    
    .profile-detail-wrap {
        width:100%;
    }
    
    .ingames {
        width:100%;
    }
    .profile-personal-stats {
        width:100%;
        text-align:left;
    }
    .profile-image-wrap {
        width:100%;
    }
    
    .btn-buy {
        background-position:center center;
        font-size:10px;
    }
    .package-tournaments th, .package-tournaments td {
        font-size:11px;
    }
    
    .package-tournaments th.spaced {
letter-spacing: 1px;
}

.packages-title {
    width:100%;
}

.new-package {
    width:100%;
    margin-bottom:10px;
}

.new-package a {
width: 100%;
}

.change-photo-wrap {
position: absolute;
top: 240px;
left: 5px;
overflow: visible!important;
width: 160px;
}

.wdth13 {
    width:100%;
}

.wdth87 {
    width:100%;
    padding:0!important;
}

.buy-btn-group div {
    width:50%;
}

.display-number {
    float:left!important;
}

.display-number select {
    font-size:11px;
}

.main-stat-content .image-wrap {
    margin-bottom:15px;
}
.past-packages-wrap {
    width:100%!important;
}

.user-btn-wrap {
float: left;
width: 100%;
min-height: 40px;
}
.main-stat-content .see-detail {
position: absolute;
bottom: 0;
right: -15px;
top:auto;
}
}

.recaptchatable #recaptcha_image {
    margin: 0 !important;
    width: 200px !important;
    float:left;
    padding: 0;
}
.recaptchatable .recaptcha_r1_c1, .recaptchatable .recaptcha_r3_c1, .recaptchatable .recaptcha_r3_c2, .recaptchatable .recaptcha_r7_c1, .recaptchatable .recaptcha_r8_c1, .recaptchatable .recaptcha_r3_c3, .recaptchatable .recaptcha_r2_c1, .recaptchatable .recaptcha_r4_c1, .recaptchatable .recaptcha_r4_c2, .recaptchatable .recaptcha_r4_c4, .recaptchatable .recaptcha_image_cell, .recaptcha_r2_c2 {
    background: none !important;
}
#recaptcha_widget_div {
    background: #f7f7f7;
}

#recaptcha_response_field {
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
